<Configuration status="debug" name="syncus">
    <Appenders>
        <File name="logFile" fileName="syncus.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="logFile"/>
        </Root>
    </Loggers>
</Configuration>
